<!doctype html>
<html>
<head>
  <title>OSCUSB Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Settings page for OSC USB</h1>
  
  <form action="" method="post" class="form-settings">
    
    {% for s in settings %}
    <div class="form-settings "id="{{s}}">
      <label for="{{s}}">
	{{ settings[s].descr }}
	(current value: {{ settings[s].value }})
      </label>
      <span class="line"></span>
      <input type="text" name="{{s}}" id="{{s}}" value="{{ settings[s].value }}" />
    </div>
    {% endfor %}
    
    <div class="form-example">
      <input type="submit" value="submit changes" />
    </div>
  </form>
</body>
</html>
